<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table  table-light" >
                <thead class="table-dark">
                <tr>
                    <th>ProductName</th>
                    <th>Category</th>
                    <th>User</th>
                    <th>Created_Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                {% for order in orders%}
                <tr>
                    <td>{{order.product.product_name}}</td>
                     <td>{{order.product.category.category_name}}</td>
                     <td>{{order.user}}</td>
                    <td>{{order.created_date}}</td>
                     <td>

                         <a href="{%url 'order-details' order.id%}" class="btn btn-info">view</a>

                     </td>


                </tr>

                {%endfor%}

            </table>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
</body>
</html>